@import url('https://fonts.googleapis.com/css2?family=Changa:wght@800&family=Gelasio&display=swap');

body{
    font-family: 'Changa', sans-serif;
    background-color: #00425A;
}

#seleccionar-mascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.titulo{
    color:#BFDB38;
    font-size: 55px;
    height: 100px;
}

.subtitulo{
 color: #1F8A70;
 font-size: 27px;
 font-family: 'Changa', sans-serif;
}
.tarjetas , .botones-ataques {
    display: flex;
    gap: 5px;
}


.tarjeta-xaliverse {
        width: 250px;
        height: 100px;
        background: #1F8A70;
        padding: 10px;
        box-sizing: border-box;
        margin: 3px;
        border: 5px double #BFDB38;
        color: black;
        border-radius: 16px;
        display: flex;
        color: #BFDB38;
        align-items: center;
        justify-content: space-around;
        font-family: 'Gelasio', serif;
        cursor: pointer;
}

.tarjeta-xaliverse img {
    height: 80px;
    width: 150px;
}

#boton-mascota {
    height: 30px;
    width: 300px;
    border-radius: 20px;
    border: 2px solid #BFDB38;
    background: #1F8A70;
    color: #BFDB38;
    font-family: 'Changa', sans-serif;
    margin: 30px 0px 0px 0px;
    cursor: pointer;
}

input{
    display: none;
}

#seleccionar-ataque { 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boton-de-ataque {
    background-color: #1F8A70;
    border-radius: 10px;
    color: white;
    padding: 20px; 
    box-sizing: border-box;
    font-size: 15px;
    border:#BFDB38 solid;
    cursor: pointer;
}

#Reiniciar{
    height: 30px;
    width: 300px;
    border-radius: 20px;
    border: 2px solid #BFDB38;
    background: #1F8A70;
    color: #BFDB38;
    font-family: 'Changa', sans-serif;
    cursor: pointer;
}

#mensajes{
    color: #BFDB38;
    width: 600px;
    background: #1F8A70;
    padding: 30px;
    margin-top: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.registro-juego{
    display: grid;
    grid-template-columns: 100px 100px;
    justify-content: center;
}
@media(max-width: 500px){
    .tarjetas, .botones-ataques{
        flex-direction: column;
    }
    .titulo{
        font-size: 25px;
    }
    .subtitulo{
        font-size: 20px;
    }
}

@media (max-width: 350px ){
    #ver-mapa div{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
}

input:checked + label {
	border-radius: 50%;
	background-color:#1F8A70(180, 255, 5, 0.8);
}

#ver-mapa {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#ver-mapa button{
    width: 100px;
    height: 50px;
    background-color: #1F8A70;
    border-radius: 10px;
    color: white;
    box-sizing: border-box;
    font-size: 15px;
    border:#BFDB38 solid;
    cursor: pointer;
    font-family: 'Changa', sans-serif;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

